In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Simulating a real world phenomena

Chosen phenom - physical health of the individual, based off results from a pseudo-survey.

In essence I hope to simulate the results of a survey asking $n$ number of people about their health and lifestyle and attributing a grade of their general health. From the created dataset we would hope to predict the overall health of the inividual form their own inputs to the survey.

Age

Sex

Height/Weight

Drink(units/week)

Smoker (cigarettes/day)

Previous smoker( length of time somking)

Hours of exercise(/week)

Consistency of exercise (regular exercise)

Diet( categorise)

Calories eaten per day

Average hours of sleep

Water drank/ day

Underlying health condition

So our first item it tocreate a dateset with these criteria as column headers.

In [2]:
columns=['Age', 'Sex','Height', 'Weight', 'Drinker', 'Alcohol_units_wk','Smoker', 'Cigs/day', 'Exercise_wk', 'Diet',
                           'Calories_day','Hours_Sleep', 'Water_l_day']

In [3]:
df = pd.DataFrame(columns = columns)

In [4]:
rng = np.random.default_rng()

In [5]:
def age():
    return rng.integers(18, 60)

In [6]:
def sexes():
    sexes = ['Male', 'Female']
    sex  = rng.choice((sexes))
    return sex

In [58]:
def Heights():
    height = [rng.normal(179, 8) if x == 'Male' else rng.normal(165, 7) for x in df['Sex']]
    return height

In [8]:
def drinker():
    drinker = ['NonDrinker', 'Drinker']
    drinkers  = rng.choice(drinker,p=[0.15, 0.85])
    return drinkers

In [9]:
def units_drank():
    units = [rng.normal(0.223, 0.075) if x == 'Drinker' else 0 for x in df['Drinker']]
    return units

In [20]:
def smoker():
    smoker = ['non_smoker', 'smoker']
    smokers  = rng.choice(smoker,p=[0.83, 0.17])
    return smokers

In [11]:
def cig_smoked():
    cigarettes_smoked = [rng.normal(12.5, 5) if x == 'smoker' else 0 for x in df['Smoker']]
    return cigarettes_smoked

In [12]:
def Exercise():
    hours_exercised = rng.normal(1.5, 0.5)
    return hours_exercised

In [13]:
def Diet():
    diet_vals = ['Vegetarian', 'Fatty', 'Sugary', 'Balanced']
    diet  = rng.choice(diet_vals,p=[0.10, 0.17, 0.33, 0.40])
    return diet

In [14]:
def Calories():
    cals_in =  [2500+ rng.normal(75, 250) if x == 'Male' else 2000+ rng.normal(75, 250) for x in df['Sex']]
    return cals_in

In [15]:
def Sleep():
    hours_slept = (rng.normal(463, 72.6)/60)
    return hours_slept

In [16]:
def water():
    water_intake = rng.normal(1.5, 0.45)
    return water_intake

In [67]:
for i in range(100):
    df.loc[i] = [age(), sexes(), 'NA', 'NA', drinker(), 'NA', smoker(), 'NA',  Exercise(), Diet(), 'NA', Sleep(), water()]

In [68]:
df['Height'], df['Alcohol_units_wk'], df['Cigs/day'], df['Calories_day'] = Heights(), units_drank(), cig_smoked(), Calories()

In [69]:
df

,Age,Sex,Height,Weight,Drinker,Alcohol_units_wk,Smoker,Cigs/day,Exercise_wk,Diet,Calories_day,Hours_Sleep,Water_l_day
0,35,Male,174.724150,NA,Drinker,0.244720,non_smoker,0.0,2.27894,Vegetarian,2530.910804,7.601283,1.477878
1,40,Female,163.484904,NA,Drinker,0.142151,non_smoker,0.0,1.39876,Sugary,1978.216693,9.040532,1.247048
2,58,Male,189.584001,NA,Drinker,0.266182,non_smoker,0.0,1.80947,Fatty,2718.817989,5.589165,1.146853
3,22,Male,172.378731,NA,Drinker,0.301418,non_smoker,0.0,1.71037,Sugary,2384.445887,7.716708,1.198182
4,37,Female,156.632401,NA,Drinker,0.276756,non_smoker,0.0,1.33105,Vegetarian,2246.289875,7.791287,2.000231
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,46,Male,177.323675,NA,Drinker,0.129260,non_smoker,0.0,0.867526,Sugary,2174.589272,8.522176,2.162607
96,25,Male,179.255219,NA,Drinker,0.182101,non_smoker,0.0,0.706228,Balanced,2999.644997,7.927205,1.215064
97,19,Male,185.369167,NA,Drinker,0.227262,non_smoker,0.0,1.20184,Balanced,2754.630288,8.604842,0.427425
98,22,Female,156.219769,NA,Drinker,0.276237,non_smoker,0.0,1.43596,Sugary,2006.468492,11.303319,2.121976
99,38,Female,173.926721,NA,Drinker,0.276768,non_smoker,0.0,2.33292,Sugary,2158.278025,7.663946,1.764265

In [71]:
sum(df['Cigs/day'])

206.83857217398304